<p class="share">
  {% if site.facebook_like %}
  <span class="facebook">
    <span class="facebook"><a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" target="blank"><i class="icon-facebook"></i> Share on Facebook</a>
  </span>
  {% endif %}
  {% if site.twitter_tweet_button %}
  <span class="twitter">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" ><i class="icon-twitter"></i> Tweet</a>
  </span>
  {% endif %}
</p>
