  <footer class="footer" role="contentinfo">
    <div id="inner-footer" class="wrap clearfix">
      <nav role="navigation">
        <ul id="menu-footer" class="nav footer-nav clearfix">
          <li class="menu-item"><a href="http://demo.creerthemes.com/journal/">Home</a></li>
          <li class="menu-item"><a href="http://demo.creerthemes.com/journal/about/">About</a></li>
          <li class="menu-item"><a href="http://demo.creerthemes.com/journal/blog/">Blog</a></li>
          <li class="menu-item"><a href="http://demo.creerthemes.com/journal/contact/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>

<a href="#" id="back-to-top"><i class="icon-angle-up"></i></a>
<script type="text/javascript" src="/javascripts/jquery.fitvids.js"></script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>
<script type="text/javascript" src="/javascripts/nav.js"></script>
<script type="text/javascript" src="/javascripts/jquery.infinitescroll.min.js"></script>

</body>
</html>
